---
import Layout from "../../layouts/Layout.astro";
import Background from "@assets/backgrounds/about.png"
import TitleScreen from "../../components/core/TitleScreen.astro";
import Info from "./components/Info.astro";
import Tech from "./components/tech/Tech.astro";
import Projects from "./components/projects/Projects.astro";
---

<Layout>
  <TitleScreen title="About me" subtitle="The bugger behind this site" background={Background} />

  <div class="flex flex-col items-center gap-52 px-5 py-40">
    <Info />
    <Tech />
    <Projects />
  </div>
</Layout>