---
import Layout from "../../layouts/Layout.astro";
import TitleScreen from "../../components/core/TitleScreen.astro";
import Info from "./components/Info.astro";
import Tech from "./components/tech/Tech.astro";
import Projects from "./components/projects/Projects.astro";
---

<Layout>
  <TitleScreen title="About me" />

  <div class="flex flex-col items-center gap-52 p-5">
    <Info />
    <Tech />
    <Projects />
  </div>
</Layout>