---
import Social from "./social/Social.astro";
---
<footer class="flex justify-between items-center bg-base-200 mt-20 p-5">
  <section class="flex items-center justify-between w-full">
    <article>
      <span>© 2024 local.interloper</span>
    </article>
    <article>
      <Social side="top" />
    </article>
  </section>
</footer>