@import "tailwindcss";

.gap-sm {
  @apply gap-2;
}

.gap-md {
  @apply gap-6;
}

.gap-lg {
  @apply gap-10;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background: var(--color-vgui-base-300);
  border-top: 2px solid var(--color-vgui-border-dark);
  border-left: 2px solid var(--color-vgui-border-dark);
}

::-webkit-scrollbar-thumb {
  background: var(--color-vgui-base-100);
  border-top: 2px solid var(--color-vgui-border-light);
  border-left: 2px solid var(--color-vgui-border-light);
  border-bottom: 2px solid var(--color-vgui-border-dark);
  border-right: 2px solid var(--color-vgui-border-dark);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}