---
import {navEntries} from "./nav-entries";
import {Icon} from "astro-icon/components";

const entries = navEntries;
---

<div class="md:hidden z-40 btm-nav drop-shadow-2xl">
  {entries.map(({name, icon, url}) => (
    <a href={url}>
      <Icon name={icon} />
    </a>
  ))}
</div>